appdirs==1.4.0
cycler==0.10.0
decorator==4.0.11
dwave-sapi2==2.4.1
find-embedding==2.4.1
fix-variables==2.4.1
functools32==3.2.3.post2
matplotlib==2.0.0
networkx==1.11
numpy==1.12.1
packaging==16.8
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2017.2
qsage==2.4.1
sapilocal==2.4.1
sapiremote==2.4.1
scipy==0.19.0
six==1.10.0
subprocess32==3.2.7
